{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css\home.css'%}">
</head>
<body>
  <div class="Nav">
    <div class="logo">BUYMART</div>
    <div class="list" >
        <ul class="ul">
           <li><a class="a" href="login">login</a></li>
           <li><a class="a" href="register">register</a></li>
           <li><a class="a" href="logout">logout</a></li>
           <li><a class="a" href="categoryadd">categoryadd</a></li>
           <li><a class="a" href="productadd">productadd</a></li> 
           <li><a class="a" href="product_view">product_view</a></li> 
        </ul>
    </div>
</div>
</body>
</html>