{% extends 'home.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>All Products</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans">

    <h1 class="text-3xl font-semibold mb-6 text-center">All Products</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8">
        {% for product in products %}
        <a href="{% url 'product_detail' pk=product.pk %}">
            <div class="bg-white rounded-lg overflow-hidden shadow-md hover:shadow-lg transition duration-300 w-100 h-100">
                {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.title }}" class="w-40 h-40 object-cover object-center">
                {% else %}
                <div class="w-full h-40 bg-gray-300 flex items-center justify-center">
                    No Image Available
                </div>
                {% endif %}
                <div class="p-4">
                    <h2 class="text-lg font-semibold mb-2">{{ product.title }}</h2>
                    <p class="text-gray-700">{{ product.description }}</p>
                    <p class="mt-2 text-green-700 font-semibold">{{ product.price }}</p>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

</body>
</html>

{% endblock %}
